html {
    scroll-behavior: smooth;
}

.header_section {
    background-color: #101446;
}

.banner {
    background: url(./img/intro-bg.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 200px 0;
    position: relative;
    color: white !important;



}

.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    color: white !important;



}

.contact_section {
    background-color: #f5f5f5;
}









/* Our Section */
.ourteam_section {
    background-color: #bac1f3;
}

/* about section */
.about_section {
    background-color: #c2d4ea;
}

.add {
    margin-left: -200px;
}